
<table >
	  	<thead>
	    	<tr>
	    		<th>Code    &nbsp&nbsp&nbsp&nbsp</th>
	      		<th>Name  &nbsp&nbsp&nbsp&nbsp</th>
	      		<th>Price &nbsp&nbsp&nbsp&nbsp</th>
	      		
	    	</tr>
	  	</thead>
          <% @items.each do |item|%>
          <tbody>
            <tr>
                <td><%= item.code %></td>
	            <td><%= item.name  %></td>
	            <td><%= item.price %></td>
                <td><%= link_to 'Edit price', edit_item_path(item) %>
				<td>
					<% if @cart.include?(item) %>
						<%= button_to "Remove from cart", remove_from_cart_path(item), method: :delete %>
					<% else %>
						<%= button_to "Add to cart", add_to_cart_path(item) %>
					<% end %>
				<td>
            </tr>
	  	  </tbody>
          <% end %>
	</table>

<hr>
<h2> Shopping cart </h2>
<% if @cart.present? %>
	<% @cart.each do |item| %>
		<%= item.code %>
		<%= item.name %>
		<%= item.price %><br>
  	<% end %>
  <%= button_to "Get Price with offer", items_place_order_with_offer_path, method: :post %>
  <%= button_to "Get Price", items_place_order_path, method: :post %>
<% end %>

